.cz-messages__list .cz-message {
  padding: 10px 20px;
  min-height: auto;
  margin: 0 auto;
  width: 90%;
}

@media (max-width: 1111px) {
  .cz-messages__list .cz-message {
    width: 100%;
  }
}

.cz-message.highlight {
  background: #705da713;
}
