.cz-input {
  background: #ffffff;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  font-family: var(--font-body);
  margin: 6px auto;
}

.cz-input.error {
  border: 0.5px solid var(--color-danger__faded);
}
