.cz-card__wrapper {
  background: white;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 10px;
  border: 0.5px solid rgb(226, 226, 226);
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
}

.cz-card__filler {
  height: 300px;
  width: 100%;
  background: transparent;
  border: 3px dashed #b9b9b9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cz-card__wrapper:hover {
  transform: scale(1.01);
}

.cz-card__header {
  border-bottom: 0.5px solid rgba(100, 100, 100, 0.4);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.cz-card__footer {
  border-top: 0.5px solid rgba(100, 100, 100, 0.4);
  padding-top: 15px;
  margin-top: 15px;
}
