@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

:root {
  --color-primary: #3483eb;
  --color-primary__highlight: #4a8be0;

  --color-danger: #eb2f2f;
  --color-danger__highlight: #eb4646;

  --font-heading: 'Oswald', sans-serif;
  --font-body: 'Raleway', sans-serif;

  --main-gradient__color: rgb(30, 107, 255);
  --main-gradient: linear-gradient(
    157deg,
    rgba(30, 107, 255, 1) 0%,
    rgba(86, 82, 255, 1) 20%,
    rgba(196, 36, 255, 1) 100%
  );

  --sidebar-width: 300px;
}

.app-wrapper {
  display: flex;
}

.app-content {
  flex-grow: 1;
  padding: 20px 25px 0;
  background: #f7f7f7;
}

@import './elements/button/style.css';
@import './elements/text/style.css';
@import './elements/card/style.css';

@import './components/sidebar/style.css';
