@import url('https://fonts.googleapis.com/css?family=Raleway|Oswald|Source+Sans+Pro&display=swap');

:root {
  --color-primary: #1e6bff;
  --color-primary__highlight: #3179ff;
  --color-primary__faded: #afcbff;

  --color-danger: #eb2f2f;
  --color-danger__highlight: #eb4646;
  --color-danger__faded: #ff8b8b;

  --font-heading: 'Oswald', sans-serif;
  --font-body: 'Source Sans Pro', sans-serif;
  --font-tertiary: 'Raleway', sans-serif;

  --main-gradient__color: #1e6bff;
  --main-gradient: linear-gradient(
    157deg,
    rgba(30, 107, 255, 1) 0%,
    rgba(86, 82, 255, 1) 20%,
    rgba(196, 36, 255, 1) 100%
  );

  --sidebar-width: 220px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary__faded);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app-wrapper {
  display: flex;
}

.app-content {
  flex-grow: 1;
  position: relative;
  padding: 20px 25px 0;
  background-attachment: fixed;
  margin-left: var(--sidebar-width);
}

.public__wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-gradient);
}

.public__content {
  display: flex;
  width: 80%;
}

.public__text {
  flex: 2;
  padding: 60px 30px;
  background: #ffffff;
  border-radius: 20px;
  margin: 20px;
}

.public__login {
  flex: 1;
  margin: 20px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.public__login form {
  width: 100%;
  text-align: center;
}

.public__logo {
  width: 350px;
}

@import './elements/button/style.css';
@import './elements/text/style.css';
@import './elements/card/style.css';
@import './elements/input/style.css';
@import './elements/form/style.css';
@import './elements/spinner/style.css';

@import './components/sidebar/style.css';
@import './components/topbar/style.css';
@import './components/course-search/style.css';
