@import url('https://fonts.googleapis.com/css?family=Raleway|Oswald|Source+Sans+Pro&display=swap');

:root {
  --color-primary: #1e6bff;
  --color-primary__highlight: #5d96ff;
  --color-primary__faded: #afcbff;

  --color-danger: #eb2f2f;
  --color-danger__highlight: #eb4646;
  --color-danger__faded: #ff8b8b;

  --font-heading: 'Oswald', sans-serif;
  --font-body: 'Source Sans Pro', sans-serif;
  --font-tertiary: 'Raleway', sans-serif;

  --main-gradient__color: #56a0d3;
  --main-gradient: linear-gradient(
    157deg,
    rgba(30, 107, 255, 1) 0%,
    rgba(86, 82, 255, 1) 20%,
    rgba(196, 36, 255, 1) 100%
  );
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: transparent; */
  background: rgb(230, 230, 230);
  right: 10px;
  margin-right: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary__faded);
  border-radius: 3px;
  margin: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary__highlight);
}

.public__wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-gradient__color);
}

.public__content {
  display: flex;
  width: 80%;
}

.public__text {
  flex: 4;
  padding: 60px 30px;
  background: #ffffff;
  border-radius: 20px;
  margin: 20px;
}

.public__login {
  flex: 1;
  margin: 20px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.public__login form {
  width: 100%;
  text-align: center;
}

.public__logo {
  width: 350px;
}

.cz-chat__wrapper {
  height: 100%;
  display: flex;
}

.cz-chat__messagepanel {
  height: 100%;
  display: flex;
  flex: 7;
  /* overflow-y: scroll; */
  justify-content: center;
}

.cz-chat__chatpanel {
  flex: 3;
}

@media (max-width: 1111px) {
  .cz-chat__chatpanel {
    display: none;
  }
}

.cz-chatpanel__wrapper {
  height: 100%;
}

/* COURSE HOME */
.cz-course__wrapper {
  width: 100%;
  height: 100%;
}

.cz-course__panel {
  width: 70%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1111px) {
  .cz-course__panel {
    width: 90%;
  }
}

.cz-overlay {
  /* Override EUI to keep modal over navbar */
  z-index: 10000 !important;
}

@import './ui/chat-screen/style.css';
