body {
  margin: 0px;
  height: 100vh;
  background: #fff;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
.App,
.app-wrapper {
  height: 100%;
}

* {
  box-sizing: border-box;
  outline: none;
}
