body {
  margin: 0px;
  height: 100vh;
  background: #fff cover;
  font-family: var(--font-body);
  /* Override EUI padding to avoid gap below header */
  padding-top: 48px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
.App,
.app-wrapper {
  height: 100%;
}

* {
  box-sizing: border-box;
  outline: none;
}
